@tailwind base;
@tailwind components;
@tailwind utilities;


.rail-wrapper {
  display: flex;
  flex-direction: column;
}

.rail {
  display: flex;
  flex-direction: column;
  animation: scroll 10s linear infinite;
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollXHover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-scrollX {
  animation: scrollX 20s linear infinite;
}

.hover\:animate-scrollXHover:hover {
  animation: scrollXHover 10s linear infinite;
}
